.navbar {
    background-color: #1f0c00;
}
.navbar .navbar-nav .nav-link {
    color: #fff;
}
.navbar .navbar-nav .nav-link:hover {
    color: #ff7b00;
}
.navbar .navbar-nav .active > .nav-link {
    color: #ff7b00;
}
.primaryBtn {
    background-color: #ff7b00;
    color: white;
}
footer a.text-light:hover {
    color: #ff7b00 !important;
    text-decoration: none;
}
footer .cizgi {
    border-right: 1px solid white;
}
footer .card {
    background-color: #1f0c00 !important;
}
footer .jumbotron-fluid {
    background-color: #1f0c00 !important;
}
@media (max-width: 992px) {
    footer .cizgi {
        border-right: none;
    }
}
